In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# Get the shape of the DataFrame
rows, columns = df.shape

print(f'The DataFrame has {rows} rows and {columns} columns.')

The DataFrame has 3 rows and 3 columns.

In [ ]:
import pandas as pd

# Load the Pokemon dataset from the given URL
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
pokemon_df = pd.read_csv(url)

# Display the first few rows of the dataset
pokemon_df.head()

In [3]:
import pandas as pd

# Sample DataFrame with numeric and categorical data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [23, 35, 45, 35, 23],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Marketing'],
    'Salary': [50000, 60000, 65000, 62000, 58000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age Department  Salary
0    Alice   23         HR   50000
1      Bob   35         IT   60000
2  Charlie   45         IT   65000
3    David   35         HR   62000
4      Eve   23  Marketing   58000

In [4]:
# Summary statistics for numeric columns in the DataFrame
summary = df.describe()
print(summary)

             Age        Salary
count   5.000000      5.000000
mean   32.200000  59000.000000
std     9.338094   5656.854249
min    23.000000  50000.000000
25%    23.000000  58000.000000
50%    35.000000  60000.000000
75%    35.000000  62000.000000
max    45.000000  65000.000000

In [1]:
https://chatgpt.com/share/4f4c5eae-7442-4bef-a397-caf8e8edbc74

SyntaxError: invalid decimal literal (2923399484.py, line 1)

In [2]:
6. count: the number of non-missing value in the column
    mean: the average value of the column
    Standard deviation: The standard deviation measures the spread or dispersion of the data around the mean.
    min: the smallest value in the column.
    25%: The value below which 25% of the data falls.
    50%: The middle value of the dataset, also known as the median.
    75%: The value below which 75% of the data falls.
    Maximum: The largest value in the column.

SyntaxError: invalid syntax (3191922627.py, line 1)

In [3]:
import pandas as pd

data = {
    'Age': [23, 35, 45, 35, 23],
    'Salary': [50000, 60000, 65000, 62000, 58000]
}

df = pd.DataFrame(data)
print(df.describe())

             Age        Salary
count   5.000000      5.000000
mean   32.200000  59000.000000
std     9.338094   5656.854249
min    23.000000  50000.000000
25%    23.000000  58000.000000
50%    35.000000  60000.000000
75%    35.000000  62000.000000
max    45.000000  65000.000000

In [4]:
You are analyzing customer data, and the dataset contains several columns such as Name, Age, Email, and Salary. Some rows have missing values in various columns (e.g., Age is missing for some customers, while Email is missing for others). Instead of deleting entire columns, you want to drop rows that have missing values, as retaining partial information from other columns is valuable for your analysis.

SyntaxError: invalid syntax (4118664353.py, line 1)

In [5]:
You have a dataset containing customer information, including Name, Age, Email, and Salary, but the Email column is mostly empty or irrelevant for your analysis. You don't want to lose rows with valuable information in other columns (like Age or Salary) just because the Email column is incomplete. In this case, you might prefer to remove the Email column entirely using del rather than removing rows using df.dropna().

SyntaxError: unterminated string literal (detected at line 1) (1988925219.py, line 1)

In [1]:
You have a dataset containing customer information, including Name, Age, Email, and Salary, but the Email column is mostly empty or irrelevant for your analysis. You don't want to lose rows with valuable information in other columns (like Age or Salary) just because the Email column is incomplete. In this case, you might prefer to remove the Email column entirely using del rather than removing rows using df.dropna().

SyntaxError: unterminated string literal (detected at line 1) (1988925219.py, line 1)

In [2]:
Consider a DataFrame with columns Name, Age, Email, and Salary. The Email column has many missing values, but you don't need Email for your analysis, and dropping rows with missing values in Email would also remove rows with complete Age and Salary information.

SyntaxError: unterminated string literal (detected at line 1) (2508449480.py, line 1)

In [3]:
import pandas as pd
import numpy as np

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [23, np.nan, 35, 30, 40],
    'Email': [np.nan, 'bob@example.com', np.nan, 'david@example.com', 'eve@example.com'],
    'Salary': [50000, 60000, np.nan, 58000, 62000]
}

df = pd.DataFrame(data)
print("Before cleaning:")
print(df)

Before cleaning:
      Name   Age              Email   Salary
0    Alice  23.0                NaN  50000.0
1      Bob   NaN    bob@example.com  60000.0
2  Charlie  35.0                NaN      NaN
3    David  30.0  david@example.com  58000.0
4      Eve  40.0    eve@example.com  62000.0

In [4]:
# Step 1: Delete the 'Email' column
del df['Email']

# Step 2: Drop rows with missing values in remaining columns
df_cleaned = df.dropna()

print("\nAfter cleaning:")
print(df_cleaned)

After cleaning:
    Name   Age   Salary
0  Alice  23.0  50000.0
3  David  30.0  58000.0
4    Eve  40.0  62000.0

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Class': ['A', 'A', 'B', 'B', 'A', 'B', 'C', 'C', 'C', 'B'],
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'Score': [85, 90, 88, 95, 78, 82, 89, 76, 91, 87]
}

df = pd.DataFrame(data)
print(df)

  Class  Student  Score
0     A    Alice     85
1     A      Bob     90
2     B  Charlie     88
3     B    David     95
4     A      Eve     78
5     B    Frank     82
6     C    Grace     89
7     C     Hank     76
8     C      Ivy     91
9     B     Jack     87

In [6]:
# Group by 'Class' and describe the 'Score' for each group
grouped_stats = df.groupby("Class")["Score"].describe()
print(grouped_stats)

       count       mean       std   min    25%   50%    75%   max
Class
A        3.0  84.333333  6.027714  78.0  81.50  85.0  87.50  90.0
B        4.0  88.000000  5.354126  82.0  85.75  87.5  89.75  95.0
C        3.0  85.333333  8.144528  76.0  82.50  89.0  90.00  91.0

In [ ]:
Q9ï¼šmostly
https://chatgpt.com/share/4f4c5eae-7442-4bef-a397-caf8e8edbc74